<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">规则引擎管理平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<!--<div th:replace="fragments/header :: header">&nbsp;</div>-->
<div class="container">
    <ul>
        <li>规则配置管理
            <ul>
                <li><a href="rule/query" target="iframeContent">查询规则</a></li>
                <li><a href="rule/creation" target="iframeContent">创建规则</a></li>
            </ul>
        </li>
        <!--<li><a href="#" target="iframeContent">权限管理</a></li>-->
        <!--<li><a href="#" target="_top">退出</a></li>-->
    </ul>
</div>
</body>
</html>