<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>hello</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <form action="#" enctype="multipart/form-data" th:action="@{/rule/create_rule}" th:object="${ruleCreateVo}" method="post">
            <p>groupId<input type="text" th:field="*{groupId}"/></p>
            <p>artifactId<input type="text" th:field="*{artifactId}"/></p>
            <p>version<input type="text" th:field="*{version}"/></p>
            <p>drl文件<input type="file" name="file"/></p>
            <p>描述<input type="text" th:field="*{description}"/></p>
            <p><input type="submit" value="创建规则"/></p>
        </form>
    </body>
</html>