<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改版本信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript">
        function confirmForDelete(){
            return window.confirm("你确认要删除该配置信息吗??");
        }
        function update(){
            if(window.check()) {
                document.all.updateForm.submit();
            }
        }

    </script>
    <script type="text/javascript">
        function check() {
            if(document.updateForm.groupId.value=="") {
                alert("groupId不能为空!");
                document.updateForm.groupId.focus();
                return false;
            } else if(document.updateForm.artifactId.value=="") {
                alert("artifactId不能为空!");
                document.updateForm.artifactId.focus();
                return false;
            } else if(document.updateForm.version.value=="") {
                alert("version不能为空!");
                document.updateForm.version.focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<h2 align="center"><strong>修改版本信息</strong></h2>
<div th:include="/common/message :: html"/>
<form name="updateForm" action="#" enctype="multipart/form-data" th:action="@{/rule/upgrade_rule}" method="post">
    <table align='center'>
        <tr>
            <td></td>
            <td colspan="2"> 注：以下信息不能为空~</td>
        </tr>
        <tr>
            <td width="20%" align="right" valign="top" rowspan="2">groupId:</td>
            <td width="15%">当前值</td>
            <td><span th:text="${newVersion.groupId}"/></td>
        </tr>
        <tr>
            <td width="15%">修改为</td>
            <td>
                <input type='text' name="groupId" th:value="${newVersion.groupId}"/>
            </td>
        </tr>
        <tr>
            <td width="20%" align="right" valign="top" rowspan="2">artifactId:</td>
            <td width="15%">当前值</td>
            <td><span th:text="${newVersion.artifactId}"/></td>
        </tr>
        <tr>
            <td width="15%">修改为</td>
            <td>
                <input type='text' name="artifactId" th:value="${newVersion.artifactId}"/>
            </td>
        </tr>
        <tr>
            <td width="20%" align="right" valign="top" rowspan="2">version:</td>
            <td width="15%">当前值</td>
            <td><span th:text="${newVersion.version}"/></td>
        </tr>
        <tr>
            <td width="15%">修改为</td>
            <td>
                <input type='text' name="version" th:with="version=${newVersion.version}" th:value="${version}" />
            </td>
        </tr>
        <tr>
            <td width="20%" align="right"></td>
            <td width="15%">
            </td>
            <td><input type="button" value="修改" onclick="update()"/></td>

        </tr>
    </table>
</form>
</body>
</html>