<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Hello World!</title>
    </head>

    <body>

        <form method="POST" enctype="multipart/form-data" action="/test/batch/upload">
            <p>文件1：<input type="file" name="file"/></p>
            <p>文件2：<input type="file" name="file"/></p>
            <p><input type="text" id="username" name="username" value="中文"/></p>
            <p><input type="submit" value="上传"/></p>
        </form>
    </body>

</html>